{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}
<div class="presentation">
<div class="image">
<img src={{presentation.photo}} alt="une image">
</div>
<div class="introduction">
<p>{{presentation.introduction}}</p>
</div>
<div class="text">
<p>{{presentation.texte}}</p>
</div>
</div>

{% endblock %}
